.container {
    width: 75%;
    margin: auto;
}
p {
    margin: 20px 0px;
    line-height: 1.5em;
}
.br-large {
padding-top: 30px;
}
h2 {
    padding-top: 120px;
}

.small {
    font-size: .7em;
    line-height: 10px;
    margin: 0px;
    display: block;
}

hr {
    margin-top: 45px;
    display: block;
}

.wrapped-image {
    float: right;
    width: 400px;
    margin: 0 0 10px 20px;
}

.page-header .page-title {
    font-size: clamp(3rem, 9vw, 6rem);
    line-height: 0.9;
}


@media (max-width: 768px) {
    .page-header .page-title {
        font-size: 3.2rem;
    }

    .wrapped-image {
        float: none;
        margin: auto;
        width: 75%;
    }
}